* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

.ul-menu {
  text-decoration: none;
}

.intro {
  background-image: url(images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.title-home {
  padding-top: 40px;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #bf311f;
}

.title-about {
  padding-top: 40px;
  font-weight: 400;
  font-size: 24px;
  text-align: left;
  color: #bf311f;
  margin-left: 10px;
}

.h1 {
  font-weight: 500;
  text-align: center;
  color: #bf311f;
  font-size: 32px;
}

.about-h1 {
  font-weight: 500;
  color: #bf311f;
  font-size: 32px;
  margin-left: 10px;
}

.info {
  box-sizing: border-box;
  border: 1px solid #bfbfbf;
  margin: 15px;
  box-shadow: 0.1em 0 0.3em, 0.4em 0 0.3em #b3b3b3;
  text-align: center;
  padding: 5px;
}

.about-info {
  margin: 15px;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid #bfbfbf;
  padding: 10px;
  font-family: "Lato", sans-serif;
}

.caption {
  font-family: inherit;
  text-align: center;
}

.caption-about {
  font-weight: bold;
  color: #333;
}

.main-program {
  display: grid;
  grid-template-columns: 1fr;
  background-image: url(images/black.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-program1 {
  text-align: center;
  font-weight: 500;
  color: #bf311f;
}

.lecturesection {
  display: flex;
  gap: 10px;
  height: auto;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #333;
  margin-left: 10px;
  margin-right: 20px;
}

.lecture {
  font-weight: 300;
  font-size: 17px;
  font-family: inherit;
  color: #bf311f;
  margin-left: 2px;
  width: 20%;
}

.lecture-p {
  margin-left: 10px;
  text-align: left;
  color: #bfbfbfbf;
}

.button {
  text-align: center;
  font: 300;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  border: #bf311f 1px solid;
  margin-left: 100px;
  margin-right: 120px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  background-color: #bf311f;
}

.button:hover {
  background-color: #fff;
  color: #bf311f;
}

.see {
  display: none;
}

a.email {
  text-align: center;
  color: rgb(20, 20, 20);
  padding-left: 60px;
}

.logosec {
  text-align: center;
  margin-top: 20px;
}

.logo {
  width: 100%;
  height: 400px;
  padding-left: -200px;
  margin-top: 0;
}

.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.feature-speaker {
  text-align: center;
  color: #bf311f;
  font-family: inherit;
  font-size: 28px;
  font-weight: 500;
  margin: 40px;
}

.desktop-section {
  display: none;
}

img {
  width: 100px;
}

.speaker {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.name {
  font-weight: 500;
  font-family: inherit;
  font-size: 17px;
  margin-top: 10px;
}

.contains {
  display: flex;
  justify-content: center;
}

.line {
  width: 5%;
  background-color: #bf311f;
  margin-left: 630px;
  margin-top: -30px;
  height: 1px;
}

.job {
  margin-left: 5px;
  text-align: left;
  font-size: 13px;
  color: #bf311f;
  margin-bottom: 10px;
}

.dec {
  font-size: 16px;
  text-align: left;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.more {
  display: flex;
  justify-content: center;
  height: 40px;
  margin: 10px;
}

.more-speaker {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #bf311f;
}

.more-img {
  width: 40px;
  height: 25px;
  cursor: pointer;
}

.title {
  margin-top: 10px;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 500;
}

.test {
  display: flex;
  flex-direction: column;
}

p {
  text-align: center;
  color: #666;
}

.title-photo {
  font-family: inherit;
  text-align: center;
  padding-top: 100px;
  color: #fff;
}

.paragraph {
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

.photo-1 {
  background-image:
    linear-gradient(
      to right,
      rgba(235, 64, 52, 0.7),
      rgba(230, 55, 44, 0.7)
    ),
    url(images/confrence.jpg);
  height: 300px;
  margin: 20px;
}

.photo-2 {
  background-image:
    linear-gradient(
      to right,
      rgba(235, 64, 52, 0.7),
      rgba(230, 55, 44, 0.7)
    ),
    url(images/Conferences.jpg);
  height: 300px;
  margin: 20px;
}

.partner {
  background-color: #333;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.line1 {
  width: 8%;
  background-color: #bf311f;
  height: 1px;
  border: none;
  margin-left: 100px;
}

.companies {
  display: flex;
  gap: 10px;
  margin: 10px;
  justify-content: space-between;
}

.mozilla {
  color: #818181;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: left;
}

.youtube {
  display: inline;
  color: #818181;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  text-align: left;
}

.google, 
.meta, 
.airbnb {
  color: #808080;
  font-size: 15px;
  font-weight: 200;
  margin-top: 10px;
  letter-spacing: 0.1rem;
  gap: 10px;
}

.partners {
  margin-bottom: 10px;
  padding-top: 20px;
  color: #d9d9d9;
  text-align: center;
  font-weight: 900;
  font-size: 30px;
}

footer {
  height: 70px;
}

.footer {
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    background-color: #333;
    height: 40px;
    justify-content: end;
  }

  .icon {
    text-align: center;
    font-size: 10px;
    width: 10px;
    height: 10px;
  }

  .fa-twitter,
  .fa-facebook {
    background: #333;
    color: white;
  }

  .header ul {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: end;
    margin: 10px;
    color: #fff;
    width: 100%;
    margin-right: 200px;
  }

  .fa .fa-twitter {
    background: #333;
    color: #fff;
  }

  .logonav {
    display: block;
    margin-left: 20px;
    width: 150px;
    height: 70px;
  }

  nav {
    display: flex;
    box-sizing: border-box;
  }

  .menu {
    position: relative;
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: end;
    float: right;
    margin-left: 370px;
    margin-top: 20px;
  }

  .ul-menu {
    color: #333;
    margin: 10px;
  }

  .menu li a:hover {
    color: #bf311f;
  }

  .child-7 {
    margin-left: 60px;
    color: #bf311f;
    border: #bf311f 4px solid;
    padding: 5px;
    margin-bottom: 10px;
    text-decoration: none;
  }

  .bar {
    display: none;
  }

  .wrapper {
    width: 100%;
  }

  .intro {
    height: 580px;
  }

  .title-home {
    display: none;
  }

  .title-about,
  .h1 {
    font-family: inherit;
    font-size: 60px;
    font-weight: 900;
    line-height: 3rem;
    letter-spacing: 0.2rem;
    padding-top: 50px;
  }

  .h1 {
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
  }

  .info {
    margin-left: 320px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1em;
    width: 50%;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 30px;
  }

  .caption {
    font-size: 17px;
    font-family: inherit;
    font-weight: 400;
    margin-top: 40px;
  }

  .email {
    margin-left: 470px;
    margin-bottom: 40px;
  }

  .logosec {
    margin-top: 50px;
  }

  .logosec h3 {
    font-family: inherit;
    font-size: 20px;
    margin: 40px;
  }

  .line1 {
   width: 8%;
   background-color: #bf311f;
   height: 1px;
   border: none;
   margin-left: 600px;
  }

  .mozilla {
   color: #818181;
   margin-top: 40px;
   font-size: 40px;
   font-weight: bold;
   letter-spacing: 0.1rem;
   text-align: left;
  }

  .youtube {
   color: #818181;
   margin-top: 30px;
   font-size: 50px;
   font-weight: bolder;
   letter-spacing: 0.1rem;
   text-align: left;
  }

  .google, 
  .meta, 
  .airbnb {
   color: #808080;
   font-size: 25px;
   font-weight: 200;
   margin-top: 50px;
   letter-spacing: 0.1rem;
   gap: 10px;
  }

  .logosec p {
    font-family: inherit;
    font-size: 17px;
    font-weight: 400;
    margin-left: 200px;
    margin-right: 200px;
  }

  .title {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 500;
  }

  .parag {
    font-size: 17px;
    font-weight: 600;
    margin: 40px;
  }

  .photos {
    display: flex;
  }

  .photo-1,
  .photo-2 {
    width: 40%;
    margin-left: 80px;
    height: 300;
  }

  .companies {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .title-about {
    font-size: 34px;
    font-weight: 600;
    line-height: 2.4rem;
    letter-spacing: 0.32rem;
    margin-left: 290px;
    margin-bottom: 10px;
  }

  .about-h1 {
    margin-top: 10px;
    font-size: 80px;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    margin-left: 300px;
    margin-right: 350px;
    line-height: 5rem;
  }

  .about-info {
    margin-top: 40px;
    text-align: left;
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2rem;
    margin-left: 300px;
    width: 40%;
  }

  .caption-about {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    line-height: 1em;
    text-align: left;
    margin-left: 300px;
  }

  .caption-about1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1em;
    margin-top: 10px;
    text-align: left;
    margin-left: 300px;
    margin-bottom: 100px;
  }

  .main-program {
    display: flex;
    flex-direction: column;
  }

  .main-program1 {
    margin-top: 40px;
  }

  .main {
    display: flex;
  }

  .lecturesection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .button {
    display: none;
  }

  .see {
    display: block;
    font-family: inherit;
    color: lavender;
    text-align: center;
    margin-top: 40px;
    height: 80px;
  }

  .more {
    display: none;
  }

  .featured {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
  }

  .contains {
    display: flex;
    flex-direction: row;
    width: 50%;
  }

  .mobile-sectio {
    display: flex;
    gap: 40px;
  }

  .desktop-section {
    display: flex;
  }
}

@media (max-width: 768px) {
  .menu {
    position: fixed;
    height: 100vh;
    left: -100%;
    display: flex;
    flex-direction: column;
    background: #333;
    text-align: center;
    transition: 0.5s;
    padding-left: 20px;
    list-style: none;
    padding-top: 20px;
    gap: 20px;
  }

  .menu.active {
    margin-top: 20px;
    left: 0;
    width: 100%;
    opacity: 100px;
    text-align: left;
    font-size: 17px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 2rem;
  }

  .menu.active li a {
    color: #fff;
  }

  .menu.active li a:hover {
    color: #bf311f;
  }

  .closebtn.active {
    display: block;
  }

  .closebtn {
    margin-top: -40px;
    width: 100%;
    height: 100px;
  }

  .menu.active:nth-child(2) {
    padding-top: -20px;
    margin-top: -30px;
  }

  .header {
    display: none;
  }

  .logonav {
    display: none;
  }

  .wrapper {
    width: 375px;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .hamburger {
    cursor: pointer;
  }

  .bar {
    width: 35px;
    height: 5px;
    background-color: gray;
    margin: 6px 0;
    border-radius: 8px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    opacity: 0;
  }
}
